// Colors
$text-color: #5f6163;
$label-color: #EDECEC; 
$selected-color: #F2FAFE;
$out-stock-color: #c94515;
$accent-one: #0071C5;
$accent-two: #003C71;
$accent-three: #bdf8ff;
$main-bg: #ffffff;

// Sizes
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;
