// Colors
$text-color: #5f6163;
$label-color: #edecec;
$selected-color: #f2fafe;
$out-stock-color: #c94515;
$accent-one: #0071c5;
$accent-two: #003c71;
$accent-three: #bdf8ff;
$main-bg: #ffffff;

// Sizes
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1200px;
    