// Colors
$text-color: #E4D9D1;
$label-color: #EDECEC; 
$selected-color: #F2FAFE;
$out-stock-color: #c94515;
$accent-one: #0071C5;
$accent-two: #003C71;

$main-bg: #ffffff;

// Sizes
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;
