@import "../../partials/variables";
@import "../../partials/mixins";
@import "../../partials/typography";

.sidebar {
  background-color: $accent-two;
  color: $main-bg;

  @include tablet {
    width: 2.8125rem;
  }

  &__top {
    height: 2.8125rem;
  }

  &__icon-wrapper {
    display: flex;
    text-align: center;
    @include tablet {
      flex-direction: column;
    }
  }
  &__icon {
    height: 3.75rem;
    width: 100%;
    padding-top: 1rem;
    border-top: 0.0625rem solid black;
    cursor: pointer;
    &--last {
      border-bottom: 0.0625rem solid black;
    }

    &:hover {
      background-color: #002d55;
    }
  }
  &__top {
    display: none;
    background-color: $accent-two;
    width: 2.8125rem;
    @include tablet {
      display: block;
    }
  }
}
