@import "../../partials/variables";
@import "../../partials/mixins";
@import "../../partials/typography";

.dashboard {
  color: $text-color;
  width: 100%;
  &__title-wrapper {
    margin-top: 2rem;
    padding-left: 9rem;
  }
  &__subtitle-wrapper {
    width: 100%;
    background-color: $label-color;
    padding-left: 9rem;
  }
  &__subtitle {
    font-weight: 300;
  }
  &__icon {
    margin-right: 8px;
  }
  &__detail-wrapper {
    display: flex;
    width: 100%;
  }
  &__detail-left {
    width: 50%;
  }
  &__detail-right {
    width: 50%;
  }
}
