@import "../../partials/variables";
@import "../../partials/mixins";
@import "../../partials/typography";

.dashboard {
  color: $text-color;
  width: 100%;
  &__title-wrapper {
    margin-top: 2rem;
    padding-left: 4rem;
  }
  &__subtitle-wrapper {
    width: 100%;
    background-color: $label-color;
    padding-left: 4rem;
  }
  &__subtitle {
    font-weight: 300;
  }
  &__icon {
    margin-right: 8px;
  }
  &__detail-wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
    }
  }
  &__detail-left {
    @include tablet {
      width: 44%;
    }
  }
  &__detail-right {
    @include tablet {
      width: 56%;
    }
  }
}
