@import "../../partials/variables";
@import "../../partials/mixins";
@import "../../partials/typography";

.areachart {
  margin-top: 1rem;
  @include tablet {
    margin-top: 3rem;
    padding-right: 1rem;
  }
  @include desktop {
    padding-right: 3rem;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;

    @include tablet {
      margin-bottom: 6rem;
      padding-left: 0rem;
      padding-right: 0rem;
    }
    @include desktop {
      margin-bottom: 8rem;
      flex-direction: row;
    }
  }

  &__title-wrapper {
    margin-bottom: 2rem;
    text-align: center;
    @include tablet {
      margin-right: 1rem;
      margin-bottom: 1rem;
    }
    @include desktop {
      text-align: left;
      margin-bottom: 0;
    }
  }

  &__title {
    font-weight: 300;
  }

  &__btn-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 2rem;
    @include tablet {
      flex-direction: row;
      margin-bottom: 0;
    }
  }
  &__btn {
    border: none;
    height: 2rem;

    background-color: $accent-one;
    color: $main-bg;
    cursor: pointer;
    @include tablet {
      margin-left: 0.5rem;
    }
    &:active {
      background-color: $accent-two;

      box-shadow: 1px 1px rgba(0, 0, 0, 0.4);
      transform: translateY(3px);
    }
    &:hover {
      background-color: $accent-two;
      box-shadow: 1px 1px rgba(0, 0, 0, 0.4);
      transition: all 0.3s ease-in-out;
    }
    &--day {
      background-color: $accent-three;
    }
    &--month {
      background-color: $accent-two;
    }
  }
  &__graph-wrapper {
    display: flex;
    justify-content: center;
    @include tablet {
      display: block;
    }
  }
}
